[class*='Element'] {
  width: 100%;
  border: 1px solid rgb(199, 199, 199);
  border-radius: .2rem;
  padding: .1rem .2rem;
}
.Element {
  background: blanchedalmond;
  height: 1.8rem;
}
.Element:not(:last-child),
.ElementGroup:not(:last-child) {
  margin-bottom: .2rem;
}
.ElementSearch {
  margin-bottom: .2rem;
  height: 1.8rem;
}
.ElementGroup {
  padding: .2rem;
  background: rgb(228, 253, 222);
}