[class*='Element'] {
  width: 100%;
  border: 1px solid rgb(199, 199, 199);
  border-radius: .2rem;
  padding: .1rem .2rem;
}
.Element {
  background: rgb(255, 251, 246);
  height: 1.8rem;
}
.Element:not(:last-child),
.ElementGroup:not(:last-child) {
  margin-bottom: .2rem;
}
.ElementSearch {
  margin-bottom: .2rem;
  height: 1.8rem;
}
.ElementGroup {
  padding: .2rem;
  background: rgb(224, 232, 235);
}
.active {
  border: 2px solid rgb(168, 168, 168);
}
.over {
  background: rgb(227, 244, 255);
}