.AddPort {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: gray;
}
.DelPort {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: gray;
  transform: rotate(45deg);
}
.DelPort-wrap {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  border-radius: 50% 50%;
}
.DelPort-wrap:hover {
  background: rgb(255, 193, 193);
}
.AddPort:hover,
.DelPort-wrap:hover {
  cursor: pointer;
}
[class^='Port'] {
  width: 100%;
  border: 1px solid rgb(199, 199, 199);
  border-radius: .2rem;
}
.Port {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 251, 246);
  height: 1.8rem;
  padding: .1rem .2rem;
}
.PortGroup {
  padding: .2rem;
  background: rgb(224, 232, 235);
}
.Port:not(:last-child),
.PortGroup:not(:last-child) {
  margin-bottom: .2rem;
}