:root {
  --header-height: 2rem;
  --min-width: 60rem;
}
.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.App-header, .App-footer {
  flex: 0 0 var(--header-height);
  background: floralwhite;
  width: 100%;
  min-width: var(--min-width);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1rem;
  line-height: var(--header-height);
}
.App-main {
  flex: 1 1 auto;
  background: beige;
  width: 100%;
  min-width: var(--min-width);
  overflow: auto;
}
